{
  "tabWidth": 4,
  "useTabs": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "semi": true

}
